<h3 style="color:navy">Smirk, you know you want to ;)</h3>

<%= form_for [ @smash, @smirk ] do |f| %>
<p>
  <%= f.text_area :content, size: '50x7' %>
</p>
<p>
  <%= f.submit 'Smirk it' %>
</p>
<% end %>
