<div>
  <h4 style="color:navy">Smirked by <%= smirk.user.sname %></h4>
  <p class="smirk"><%=image_tag('http://ps3trophies.com/forums/images/smilies/custom/AwesomeSmileyEvenSmaller.png')%> <%= smirk.content %></p>
</div>
