<h1> SMASHED </h1>
<h2> You're probably making a mistake, but at least you're making it here</h2>
<ul>
  <% @smashes.each do |smash| %>
  <li>
    <%= smash.content %> <br />
    by: <%= smash.user.sname %>
  </li>
  <% end %>
</ul>
